---
---

<button id="scroll-to-top" class="scroll-to-top">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="25" height="25" fill="currentColor">
    <path d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"/>
  </svg>
</button>

<style>
  .scroll-to-top {
    position: fixed;
    z-index: 50;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--primary);
    color: var(--primary-foreground);
    border: 3px solid var(--primary-foreground);
    padding: 0.5rem;
    border-radius: 0.75rem;
    cursor: pointer;
    transition: all 0.3s;
    opacity: 0;
    transform: translateY(5rem);
    pointer-events: none;
  }

  .scroll-to-top.visible {
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
  }

  .scroll-to-top:hover {
    opacity: 0.7;
  }
</style>

<script>
  const button = document.getElementById('scroll-to-top');

  const toggleVisibility = () => {
    if (window.pageYOffset > 300) {
      button?.classList.add('visible');
    } else {
      button?.classList.remove('visible');
    }
  };

  const scrollToTop = () => {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  };

  window.addEventListener('scroll', toggleVisibility);
  button?.addEventListener('click', scrollToTop);
</script>